#root {
	margin: 55px 82px 55px 82px;

	@include breakpoint(mobile) {
		margin: 30px 18px 30px 17px;
	}
}

hr {
	border: 0px;
	border-top: 1px solid #dadada;
}

.header {
	margin-bottom: 25px;

	h2 {
		display: inline;

		@include breakpoint(mobile) {
			font-size: 38px;
		}

		@include breakpoint(mobile) {
			font-size: 28px;
		}
	}

	.cartStatus {
		position: relative;
		top: -30px;
		text-align: right;
		white-space: nowrap;

		@include breakpoint(mobile) {
			position: static;
			top: auto;
			text-align: left;
			white-space: normal;
			margin-top: 10px;
		}
		
		img {
			margin: auto;
			display: inline-block;

			@include breakpoint(mobile) {
				float: left;
				margin-right: 10px;
			}
		}

		p {
			white-space: nowrap;
			margin-left: 10px;
			float: right;

			@include breakpoint(mobile) {
				float: none;
				font-size: 14px;
			}
		}
	}
}